{% extends "base.html" %}

{% block Title %}
    <title> Delete {{ discipline.name }} </title>
{% endblock %}

{% block body %}
    <div class="card-panel yellow">
        <p>
            Do you really want to delete {{ discipline.name }} from database?<br>
            This decision is permanent.
        </p>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <a href="/" class="waves-effect waves-light btn green"> No </a>
        <button type="submit" class="waves-effect waves-light btn red"> Yes </button>
    </form>
{% endblock %}
